@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #5d3fd3;
  --accent: #f3e9dc;
  --dark-text: #1a1a1a;
  --light-gray: #f8f9fa;

  --font-heading: "DM Serif Display", serif;
  --font-body: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-darkText: var(--dark-text);
  --color-lightGray: var(--light-gray);

  --font-sans: var(--font-geist-sans);
  --font-heading: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-rtl {
  animation: marquee-rtl 30s linear infinite;
  display: flex;
  width: max-content;
}

/* Pause animation on hover */
.animate-marquee-rtl:hover {
  animation-play-state: paused;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .animate-marquee-rtl {
    animation-duration: 20s;
  }
}

.custom-shape-divider-bottom-1757413089 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1757413089 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1757413089 .shape-fill {
  fill: #ffffff;
}
